name: Java CI with Gradle

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4

      - name: Debug ANDROID_SDK_ROOT
        run: echo "ANDROID_SDK_ROOT is $ANDROID_SDK_ROOT"

      - name: Create local.properties file
        run: |
          echo "sdk.dir=$ANDROID_SDK_ROOT" > $GITHUB_WORKSPACE/local.properties
          # Removed auth_token and auth_url

      - name: Verify local.properties
        run: cat $GITHUB_WORKSPACE/local.properties

      - name: Set executable permission for Gradle wrapper
        run: chmod +x ./gradlew

      - name: Build with Gradle Wrapper
        run: ./gradlew build
